// posts/index
.box{
  overflow: hidden;
}
.inbox{
  background-color: rgba( 255, 255, 255, 0.5);
  overflow: hidden;
}
.img_smpl{
  height:20vh;
  width: 20vh;
  align-content: center;
  overflow: hidden;

}

// posts/show
.img_smpl-show{
  height: 40vh;
  width: 40vh;
  background-size: cover;
}
